/* Primitive tokens - raw values */
:root {
  --color-purple-100: #e9d8fd;
  --color-purple-200: #d6bcfa;
  --color-purple-300: #b794f4;
  --color-purple-400: #9f7aea;
  --color-purple-500: #805ad5;
  --color-purple-600: #6b46c1;
  --color-purple-700: #4f3792;
  --color-purple-800: #301f5f;
  --color-purple-900: #1a1332;
  --color-blue-100: #e6f1ff;
  --color-blue-200: #cee2fd;
  --color-blue-300: #9ec4fa;
  --color-blue-400: #6da7f8;
  --color-blue-500: #056dff;
  --color-blue-600: #0957c3;
  --color-blue-700: #004296;
  --color-blue-800: #002150;
  --color-blue-900: #021939;
  --color-chromatic-100: #f1f4fe;
  --color-chromatic-200: #c4c8d7;
  --color-chromatic-300: #a0a5bb;
  --color-chromatic-400: #858b9d;
  --color-chromatic-500: #585e71;
  --color-chromatic-600: #494d5e;
  --color-chromatic-700: #383c4b;
  --color-chromatic-800: #2a2c34;
  --color-chromatic-900: #1d1e25;
  --color-gray-50: #f7fafc;
  --color-gray-100: #edf2f7;
  --color-gray-200: #d2d2d6;
  --color-gray-300: #959ba0;
  --color-gray-400: #686e70;
  --color-gray-500: #524e4f;
  --color-gray-600: #3f3c3d;
  --color-gray-700: #2a2728;
  --color-gray-800: #1f1d1d;
  --color-gray-900: #161616;
  --color-green-100: #e0ffff;
  --color-green-200: #9bfdfa;
  --color-green-300: #69fcf7;
  --color-green-400: #05faf2;
  --color-green-500: #03a09b;
  --color-green-600: #018f8a;
  --color-green-700: #02615e;
  --color-green-800: #014a47;
  --color-red-100: #ffe5ee;
  --color-red-200: #ff99bb;
  --color-red-300: #ff6699;
  --color-red-400: #ff3377;
  --color-red-500: #ff1f69;
  --color-red-600: #cc0044;
  --color-red-700: #990033;
  --color-red-800: #660022;
  --color-orange-100: #fffbf5;
  --color-orange-200: #fae3b7;
  --color-orange-300: #f7c97f;
  --color-orange-400: #efaf57;
  --color-orange-500: #e07400;
  --color-orange-600: #aa6215;
  --color-orange-700: #7c4a15;
  --color-orange-800: #593815;
  --color-black-0: #00000000;
  --color-black-40: #0000000a;
  --color-black-60: #0000000f;
  --color-black-80: #00000014;
  --color-black-100: #0000001a;
  --color-black-120: #0000001f;
  --color-black-200: #00000033;
  --color-black-300: #0000004d;
  --color-black-400: #00000066;
  --color-black-500: #00000080;
  --color-black-600: #00000099;
  --color-black-700: #000000b2;
  --color-black-800: #000000cc;
  --color-black-1000: #000000;
  --color-white-0: #ffffff00;
  --color-white-20: #ffffff05;
  --color-white-30: #ffffff08;
  --color-white-40: #ffffff0a;
  --color-white-70: #ffffff12;
  --color-white-100: #ffffff1a;
  --color-white-200: #ffffff33;
  --color-white-300: #ffffff4d;
  --color-white-400: #ffffff66;
  --color-white-500: #ffffff80;
  --color-white-600: #ffffff99;
  --color-white-700: #ffffffb2;
  --color-white-800: #ffffffcc;
  --color-white-1000: #ffffff;
  --scale-0: 0px;
  --scale-25: 1px;
  --scale-50: 2px;
  --scale-100: 4px;
  --scale-150: 6px;
  --scale-200: 8px;
  --scale-300: 12px;
  --scale-400: 16px;
  --scale-450: 20px;
  --scale-500: 24px;
  --scale-550: 28px;
  --scale-600: 32px;
  --scale-650: 40px;
  --scale-700: 48px;
  --scale-800: 64px;
  --scale-900: 96px;
  --scale-1000: 128px;
  --scale-2000: 512px;
  --fonts-inter-style-inter: Inter;
  --fonts-inter-weight-regular: 400;
  --fonts-inter-weight-medium: 500;
  --fonts-inter-weight-semibold: 600;
  --fonts-inter-weight-bold: 700;
  --fonts-dm-sans-style-dm-sans: DM Sans;
  --fonts-dm-sans-weight-regular: 400;
  --fonts-dm-sans-weight-medium: 500;
  --fonts-dm-sans-weight-semibold: 600;
  --fonts-dm-sans-weight-bold: 700;
  --fonts-ibm-plex-serif-style-ibm-plex-serif: IBM Plex Serif;
  --fonts-ibm-plex-serif-weight-regular: 400;
  --fonts-ibm-plex-serif-weight-medium: 500;
  --fonts-ibm-plex-serif-weight-semibold: 600;
  --fonts-geist-mono-style-geist-mono: Geist Mono;
  --fonts-geist-mono-weight-regular: 400;
  --fonts-geist-mono-weight-medium: 500;
  --fonts-geist-mono-weight-semibold: 600;
  --fonts-geist-mono-weight-bold: 700;
}