/* Responsive tokens */
:root {
  --device-width: 1440px;
  --adaptive-set-d96-t80-m32: 96px;
  --adaptive-set-d96-t48-m32: 96px;
  --adaptive-set-d48-t32-m24: 48px;
  --adaptive-set-d64-t80-m32: 64px;
  --adaptive-set-d80-t64-m48: 80px;
  --adaptive-set-d32-t80-m32: 32px;
  --heading-h1-text-size: 64px;
  --fonts-heading-h1-text-size: 64px;
  --heading-h1-paragraph-spacing: 72px;
  --fonts-heading-h1-paragraph-spacing: 72px;
  --heading-h1-line-height: 72px;
  --fonts-heading-h1-line-height: 72px;
  --heading-h2-text-size: 52px;
  --fonts-heading-h2-text-size: 52px;
  --heading-h2-paragraph-spacing: 60px;
  --fonts-heading-h2-paragraph-spacing: 60px;
  --heading-h2-line-height: 60px;
  --fonts-heading-h2-line-height: 60px;
  --heading-h3-text-size: 40px;
  --fonts-heading-h3-text-size: 40px;
  --heading-h3-paragraph-spacing: 48px;
  --fonts-heading-h3-paragraph-spacing: 48px;
  --heading-h3-line-height: 48px;
  --fonts-heading-h3-line-height: 48px;
  --heading-h4-text-size: 32px;
  --fonts-heading-h4-text-size: 32px;
  --heading-h4-paragraph-spacing: 36px;
  --fonts-heading-h4-paragraph-spacing: 36px;
  --heading-h4-line-height: 36px;
  --fonts-heading-h4-line-height: 36px;
  --heading-h5-text-size: 24px;
  --fonts-heading-h5-text-size: 24px;
  --heading-h5-paragraph-spacing: 28px;
  --fonts-heading-h5-paragraph-spacing: 28px;
  --heading-h5-line-height: 28px;
  --fonts-heading-h5-line-height: 28px;
  --heading-h6-text-size: 20px;
  --fonts-heading-h6-text-size: 20px;
  --heading-h6-paragraph-spacing: 24px;
  --fonts-heading-h6-paragraph-spacing: 24px;
  --heading-h6-line-height: 24px;
  --fonts-heading-h6-line-height: 24px;
  --fonts-title-small-text-size: 16px;
  --fonts-title-small-paragraph-spacing: 24px;
  --fonts-title-small-line-height: 24px;
  --fonts-title-regular-text-size: 20px;
  --fonts-title-regular-paragraph-spacing: 26px;
  --fonts-title-regular-line-height: 26px;
  --body-extra-small-text-size: 12px;
  --fonts-body-extra-small-text-size: 12px;
  --body-extra-small-paragraph-spacing: 18px;
  --fonts-body-extra-small-paragraph-spacing: 18px;
  --body-extra-small-line-height: 18px;
  --fonts-body-extra-small-line-height: 18px;
  --body-small-text-size: 14px;
  --fonts-body-small-text-size: 14px;
  --body-small-paragraph-spacing: 20px;
  --fonts-body-small-paragraph-spacing: 20px;
  --body-small-line-height: 20px;
  --fonts-body-small-line-height: 20px;
  --body-regular-text-size: 16px;
  --fonts-body-regular-text-size: 16px;
  --body-regular-paragraph-spacing: 24px;
  --fonts-body-regular-paragraph-spacing: 24px;
  --body-regular-line-height: 24px;
  --fonts-body-regular-line-height: 24px;
  --body-medium-text-size: 20px;
  --fonts-body-medium-text-size: 20px;
  --body-medium-paragraph-spacing: 28px;
  --fonts-body-medium-paragraph-spacing: 28px;
  --body-medium-line-height: 28px;
  --fonts-body-medium-line-height: 28px;
  --menu-width: 224px;
}

@media (max-width: 1024px) {
  :root {
    --device-width: 834px;
    --adaptive-set-d96-t80-m32: 80px;
    --adaptive-set-d96-t48-m32: 48px;
    --adaptive-set-d48-t32-m24: 32px;
    --adaptive-set-d64-t80-m32: 80px;
    --adaptive-set-d80-t64-m48: 64px;
    --adaptive-set-d32-t80-m32: 80px;
    --heading-h1-text-size: 60px;
    --fonts-heading-h1-text-size: 60px;
    --heading-h1-paragraph-spacing: 64px;
    --fonts-heading-h1-paragraph-spacing: 64px;
    --heading-h1-line-height: 64px;
    --fonts-heading-h1-line-height: 64px;
    --heading-h2-text-size: 48px;
    --fonts-heading-h2-text-size: 48px;
    --heading-h2-paragraph-spacing: 56px;
    --fonts-heading-h2-paragraph-spacing: 56px;
    --heading-h2-line-height: 56px;
    --fonts-heading-h2-line-height: 56px;
    --heading-h3-text-size: 36px;
    --fonts-heading-h3-text-size: 36px;
    --heading-h3-paragraph-spacing: 40px;
    --fonts-heading-h3-paragraph-spacing: 40px;
    --heading-h3-line-height: 40px;
    --fonts-heading-h3-line-height: 40px;
    --heading-h4-text-size: 32px;
    --fonts-heading-h4-text-size: 32px;
    --heading-h4-paragraph-spacing: 36px;
    --fonts-heading-h4-paragraph-spacing: 36px;
    --heading-h4-line-height: 36px;
    --fonts-heading-h4-line-height: 36px;
    --heading-h5-text-size: 24px;
    --fonts-heading-h5-text-size: 24px;
    --heading-h5-paragraph-spacing: 28px;
    --fonts-heading-h5-paragraph-spacing: 28px;
    --heading-h5-line-height: 28px;
    --fonts-heading-h5-line-height: 28px;
    --heading-h6-text-size: 20px;
    --fonts-heading-h6-text-size: 20px;
    --heading-h6-paragraph-spacing: 24px;
    --fonts-heading-h6-paragraph-spacing: 24px;
    --heading-h6-line-height: 24px;
    --fonts-heading-h6-line-height: 24px;
    --fonts-title-small-text-size: 16px;
    --fonts-title-small-paragraph-spacing: 24px;
    --fonts-title-small-line-height: 24px;
    --fonts-title-regular-text-size: 20px;
    --fonts-title-regular-paragraph-spacing: 26px;
    --fonts-title-regular-line-height: 26px;
    --body-extra-small-text-size: 12px;
    --fonts-body-extra-small-text-size: 12px;
    --body-extra-small-paragraph-spacing: 18px;
    --fonts-body-extra-small-paragraph-spacing: 18px;
    --body-extra-small-line-height: 18px;
    --fonts-body-extra-small-line-height: 18px;
    --body-small-text-size: 14px;
    --fonts-body-small-text-size: 14px;
    --body-small-paragraph-spacing: 20px;
    --fonts-body-small-paragraph-spacing: 20px;
    --body-small-line-height: 20px;
    --fonts-body-small-line-height: 20px;
    --body-regular-text-size: 16px;
    --fonts-body-regular-text-size: 16px;
    --body-regular-paragraph-spacing: 24px;
    --fonts-body-regular-paragraph-spacing: 24px;
    --body-regular-line-height: 24px;
    --fonts-body-regular-line-height: 24px;
    --body-medium-text-size: 20px;
    --fonts-body-medium-text-size: 20px;
    --body-medium-paragraph-spacing: 28px;
    --fonts-body-medium-paragraph-spacing: 28px;
    --body-medium-line-height: 28px;
    --fonts-body-medium-line-height: 28px;
    --menu-width: var(--device-width);
  }
}

@media (max-width: 768px) {
  :root {
    --device-width: 430px;
    --adaptive-set-d96-t80-m32: 32px;
    --adaptive-set-d96-t48-m32: 32px;
    --adaptive-set-d48-t32-m24: 24px;
    --adaptive-set-d64-t80-m32: 32px;
    --adaptive-set-d80-t64-m48: 48px;
    --adaptive-set-d32-t80-m32: 32px;
    --heading-h1-text-size: 48px;
    --fonts-heading-h1-text-size: 48px;
    --heading-h1-paragraph-spacing: 56px;
    --fonts-heading-h1-paragraph-spacing: 56px;
    --heading-h1-line-height: 56px;
    --fonts-heading-h1-line-height: 56px;
    --heading-h2-text-size: 40px;
    --fonts-heading-h2-text-size: 40px;
    --heading-h2-paragraph-spacing: 48px;
    --fonts-heading-h2-paragraph-spacing: 48px;
    --heading-h2-line-height: 48px;
    --fonts-heading-h2-line-height: 48px;
    --heading-h3-text-size: 32px;
    --fonts-heading-h3-text-size: 32px;
    --heading-h3-paragraph-spacing: 36px;
    --fonts-heading-h3-paragraph-spacing: 36px;
    --heading-h3-line-height: 36px;
    --fonts-heading-h3-line-height: 36px;
    --heading-h4-text-size: 28px;
    --fonts-heading-h4-text-size: 28px;
    --heading-h4-paragraph-spacing: 32px;
    --fonts-heading-h4-paragraph-spacing: 32px;
    --heading-h4-line-height: 32px;
    --fonts-heading-h4-line-height: 32px;
    --heading-h5-text-size: 24px;
    --fonts-heading-h5-text-size: 24px;
    --heading-h5-paragraph-spacing: 28px;
    --fonts-heading-h5-paragraph-spacing: 28px;
    --heading-h5-line-height: 28px;
    --fonts-heading-h5-line-height: 28px;
    --heading-h6-text-size: 20px;
    --fonts-heading-h6-text-size: 20px;
    --heading-h6-paragraph-spacing: 24px;
    --fonts-heading-h6-paragraph-spacing: 24px;
    --heading-h6-line-height: 24px;
    --fonts-heading-h6-line-height: 24px;
    --fonts-title-small-text-size: 16px;
    --fonts-title-small-paragraph-spacing: 24px;
    --fonts-title-small-line-height: 24px;
    --fonts-title-regular-text-size: 20px;
    --fonts-title-regular-paragraph-spacing: 26px;
    --fonts-title-regular-line-height: 26px;
    --body-extra-small-text-size: 12px;
    --fonts-body-extra-small-text-size: 12px;
    --body-extra-small-paragraph-spacing: 18px;
    --fonts-body-extra-small-paragraph-spacing: 18px;
    --body-extra-small-line-height: 18px;
    --fonts-body-extra-small-line-height: 18px;
    --body-small-text-size: 14px;
    --fonts-body-small-text-size: 14px;
    --body-small-paragraph-spacing: 20px;
    --fonts-body-small-paragraph-spacing: 20px;
    --body-small-line-height: 20px;
    --fonts-body-small-line-height: 20px;
    --body-regular-text-size: 16px;
    --fonts-body-regular-text-size: 16px;
    --body-regular-paragraph-spacing: 24px;
    --fonts-body-regular-paragraph-spacing: 24px;
    --body-regular-line-height: 24px;
    --fonts-body-regular-line-height: 24px;
    --body-medium-text-size: 20px;
    --fonts-body-medium-text-size: 20px;
    --body-medium-paragraph-spacing: 28px;
    --fonts-body-medium-paragraph-spacing: 28px;
    --body-medium-line-height: 28px;
    --fonts-body-medium-line-height: 28px;
    --menu-width: var(--device-width);
  }
}