/* Brand tokens - light theme */
:root, [data-theme="light"] {
  --bg-white: var(--color-alpha-neutral-white-1000);
  --bg-page-primary: var(--color-neutral-50);
  --bg-page-secondary: var(--color-neutral-100);
  --bg-page-tertiary: var(--color-neutral-200);
  --bg-disabled: var(--color-neutral-100);
  --bg-primary: var(--color-primary-500);
  --bg-primary-tonal: var(--color-primary-100);
  --bg-primary-pressed: var(--color-primary-700);
  --bg-primary-disabled: var(--color-primary-200);
  --bg-primary-dark: var(--color-primary-800);
  --bg-primary-on-hover: var(--color-primary-700);
  --bg-primary-tonal-on-hover: var(--color-primary-200);
  --bg-primary-on-focused: var(--color-primary-600);
  --bg-success: var(--color-green-500);
  --bg-success-tonal: var(--color-success-100);
  --bg-success-dark: var(--color-green-800);
  --bg-success-disabled: var(--color-green-300);
  --bg-success-on-hover: var(--color-green-600);
  --bg-warning: var(--color-warning-500);
  --bg-warning-tonal: var(--color-warning-100);
  --bg-warning-dark: var(--color-warning-800);
  --bg-warning-disabled: var(--color-warning-300);
  --bg-warning-on-hover: var(--color-warning-600);
  --bg-critical: var(--color-critical-500);
  --bg-critical-tonal: var(--color-critical-100);
  --bg-critical-dark: var(--color-critical-800);
  --bg-critical-disabled: var(--color-critical-300);
  --bg-critical-on-hover: var(--color-critical-600);
  --bg-transparent: var(--color-alpha-neutral-white-0);
  --fg-neutral: var(--color-neutral-800);
  --fg-neutral-secondary: var(--color-neutral-700);
  --fg-neutral-tertiary: var(--color-neutral-600);
  --fg-primary: var(--color-primary-500);
  --fg-primary-disabled: var(--color-primary-400);
  --fg-primary-pressed: var(--color-primary-700);
  --fg-primary-on-tonal: var(--color-primary-500);
  --fg-primary-on-focus: var(--color-primary-500);
  --fg-primary-on-hover: var(--color-primary-600);
  --fg-critical: var(--color-critical-500);
  --fg-critical-tonal: var(--color-critical-100);
  --fg-critical-on-tonal: var(--color-critical-500);
  --fg-warning: var(--color-orange-500);
  --fg-warning-on-tonal: var(--color-orange-500);
  --fg-success: var(--color-green-500);
  --fg-success-on-tonal: var(--color-green-500);
  --fg-on-action: var(--color-alpha-neutral-white-1000);
  --fg-white: var(--color-alpha-neutral-white-1000);
  --fg-disabled: var(--color-neutral-300);
  --fg-on-disabled: var(--color-neutral-400);
  --border-strong: var(--color-neutral-800);
  --border-strong-100: var(--color-alpha-neutral-black-100);
  --border-strong-200: var(--color-alpha-neutral-black-200);
  --border-neutral-primary: var(--color-neutral-400);
  --border-neutral-secondary: var(--color-neutral-300);
  --border-neutral-tertiary: var(--color-neutral-200);
  --border-primary: var(--color-primary-500);
  --border-primary-tonal: var(--color-primary-100);
  --border-primary-disabled: var(--color-primary-300);
  --border-primary-on-hover: var(--color-primary-600);
  --border-primary-pressed: var(--color-primary-700);
  --border-critical: var(--color-critical-500);
  --border-critical-tonal: var(--color-critical-100);
  --border-warning: var(--color-orange-500);
  --border-warning-tonal: var(--color-orange-100);
  --border-success: var(--color-green-500);
  --border-success-tonal: var(--color-green-100);
  --border-on-action: var(--color-alpha-neutral-white-1000);
  --border-white: var(--color-alpha-neutral-white-1000);
  --border-disabled: var(--color-neutral-300);
  --static-light-on-dark: var(--color-alpha-neutral-black-1000);
  --static-primary: var(--color-primary-500);
  --static-primary-black: var(--color-primary-900);
  --static-white: var(--color-alpha-neutral-white-1000);
  --static-black: var(--color-alpha-neutral-black-1000);
  --util-overlay-dull: var(--color-alpha-neutral-black-200);
  --util-overlay-light: var(--color-alpha-neutral-black-300);
  --util-overlay-medium: var(--color-alpha-neutral-black-500);
  --util-overlay-strong: var(--color-alpha-neutral-black-700);
  --shadow-none: var(--color-alpha-neutral-black-0);
  --shadow-subtle: var(--color-alpha-neutral-black-100);
  --shadow-normal: var(--color-alpha-neutral-black-200);
  --shadow-medium: var(--color-alpha-neutral-black-300);
  --shadow-strong: var(--color-alpha-neutral-black-400);
}